.subpage-header { overflow: hidden; text-align: center; background-color: #152062; border-bottom: 2px solid #dddddd; min-height: 50px;} 
.subpage-header .banner { width: 100%; vertical-align: top;} 
.subpage-header .path { position: absolute; top: 10px; vertical-align: top; opacity: 0.9; background-color: #ffffff; font-family: "Roboto Mono"; margin-left: 10px; padding-left: 10px; padding-right: 10px;} 

.table-of-contents {
  float: right;
  width: 30%;
  background: #eeeeee;
  margin: 0 0 0.5em 0.5em;
}

article p {
 font-family: "Computer Modern";
 src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

